@import "tags"

fieldset.form
  #tags
    margin-left: 250px

    .tag a.remove
      background: url("/images/delete.png") no-repeat scroll 3px 50% #D3DFFF
      border-left: 1px solid #BCC6E1
      padding-right: 12px
      padding-left: 1px
      margin-left: 3px
      text-decoration: none

  #add-tag-label
    font-weight: normal

  #phone_numbers_skype_contacts
    input[type="text"]
      padding-left: 22px

    .phone_number
      input[type="text"]
        background: url("/images/dial.gif") no-repeat scroll 2px 1px white
    .skype_contact
      input[type="text"]
        background: url("/images/skype_icon.gif") no-repeat scroll 2px 2px white
