h2 {
  margin-left: 150px; }

fieldset.show_data > table {
  margin-left: 220px;
  margin-bottom: 15px; }
  fieldset.show_data > table td {
    width: auto; }

#phones_numbers {
  margin-left: 205px;
  margin-right: auto; }
  #phones_numbers table td {
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: left; }
    #phones_numbers table td > span.phone_number {
      margin-right: 30px; }
      #phones_numbers table td > span.phone_number a {
        background: url("/images/dial.gif") no-repeat scroll right 2px transparent;
        height: 18px;
        padding-right: 25px;
        display: inline-block;
        vertical-align: sub; }
    #phones_numbers table td > span.hotkey {
      font-weight: bold;
      padding: 3px 5px;
      display: inline-block;
      min-width: 10px;
      background-color: white;
      border-width: 2px;
      border-style: solid;
      border-bottom-color: #aaaaaa;
      border-right-color: #aaaaaa;
      border-top-color: #dddddd;
      border-left-color: #dddddd;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    #phones_numbers table td > span.hotkey.pressed {
      border-bottom-color: #dddddd;
      border-right-color: #dddddd;
      border-top-color: #aaaaaa;
      border-left-color: #aaaaaa;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    #phones_numbers table td > span.hotkey.expect-press {
      text-decoration: underline; }

#dialing-background {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  #dialing-background #dialing-popup {
    background: url("/images/telephone.png") no-repeat scroll 30px 60px white;
    border-radius: 4px;
    display: inline-block;
    height: 20em;
    left: 50%;
    margin-left: -20em;
    margin-top: -11em;
    padding-left: 180px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    width: 25em; }
    #dialing-background #dialing-popup .padding {
      padding-top: 60px; }
    #dialing-background #dialing-popup .center-text {
      display: table-cell;
      height: 110px;
      vertical-align: middle; }
      #dialing-background #dialing-popup .center-text #dialing-message {
        font-size: 22px;
        margin: 0; }
    #dialing-background #dialing-popup #dialing-close {
      margin-top: 25px;
      padding-left: 235px; }
