h2 {
  margin-left: 150px; }

fieldset.show_data > table {
  margin-left: 220px;
  margin-bottom: 15px; }
  fieldset.show_data > table td {
    width: auto; }

#phones_numbers {
  margin-left: 205px;
  margin-right: auto; }
  #phones_numbers table td {
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: left; }
    #phones_numbers table td > span.phone_number {
      margin-right: 30px; }
    #phones_numbers table td > span.key {
      font-weight: bold;
      padding: 3px 5px;
      display: inline-block;
      min-width: 10px;
      background-color: white;
      border-width: 1px;
      border-style: solid;
      border-bottom-color: #aaaaaa;
      border-right-color: #aaaaaa;
      border-top-color: #dddddd;
      border-left-color: #dddddd;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
