fieldset.form {
  background-color: #e2ebf0;
  border: 1px solid #bcc6e1;
  width: auto;
  padding: 0.35em 0.625em 0.75em; }
  fieldset.form legend {
    font-weight: bold;
    color: #353535;
    border: 1px solid #bcc6e1;
    background-color: #e2ebf0;
    border-top: #e2ebf0; }
  fieldset.form:first-child legend {
    background-color: white;
    border-top: white; }
  fieldset.form p.center {
    text-align: center; }
  fieldset.form input, fieldset.form select, fieldset.form textarea {
    width: 300px;
    min-height: 17px; }
  fieldset.form input {
    width: 390px; }
  fieldset.form textarea {
    width: 390px;
    height: 120px; }
  fieldset.form p {
    font-weight: bold; }
    fieldset.form p label, fieldset.form p span.fake-label {
      display: inline-block;
      width: 250px;
      text-align: right;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 5px; }
    fieldset.form p a.remove-child {
      background: url("/images/delete.png") no-repeat scroll left 2px transparent;
      margin-left: 10px;
      padding: 2px 8px 3px 7px; }
  fieldset.form input[type="radio"] {
    width: 15px; }
    fieldset.form input[type="radio"] + label {
      font-weight: normal; }
  fieldset.form input[type="submit"], fieldset.form input[type="button"] {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto; }
  fieldset.form input[type="text"].center, fieldset.form input[type="password"].center {
    width: 190px; }
  fieldset.form div {
    padding-top: 1px; }
  fieldset.form select {
    width: auto; }
    fieldset.form select.center {
      width: 190px;
      width: auto; }
  fieldset.form input.small {
    width: 150px; }
  fieldset.form textarea.small {
    width: 225px;
    height: 80px; }
  fieldset.form input.medium {
    width: 390px; }
  fieldset.form textarea.medium {
    width: 390px;
    height: 120px; }
  fieldset.form input.large {
    width: 500px; }
  fieldset.form textarea.large {
    width: 500px;
    height: 225px; }

/* Errors: */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square;
    list-style-type: disc; }

.fieldWithErrors {
  background-color: red;
    background-color-padding: 2px; }

fieldset.form {
  font-weight: normal; }
