fieldset.show_data {
  background-color: #e2ebf0;
  border: 1px solid #bcc6e1;
  width: auto;
  padding: 0.35em 0.625em 0.75em; }
  fieldset.show_data > p > span.key {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
    width: 442px; }
