#top #tabs {
  height: 27px; }
  #top #tabs ul {
    list-style-type: none;
    z-index: 100;
    float: right; }
    #top #tabs ul li a {
      background: transparent;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      line-height: 1.5;
      text-decoration: none;
      color: #666666;
      padding: 6px 12px;
      display: block; }
    #top #tabs ul li:hover > ul {
      visibility: visible; }
  #top #tabs > ul > li.current {
    background-image: url(/images/tabs_current.gif); }
  #top #tabs > ul > li {
    float: right;
    background-image: url(/images/tabs_normal.gif);
    background-repeat: no-repeat;
    background-position: left top; }
    #top #tabs > ul > li:hover {
      background-image: url(/images/tabs_selecionado.gif); }
      #top #tabs > ul > li:hover > a {
        color: white; }
    #top #tabs > ul > li ul {
      visibility: hidden;
      padding: 0px;
      margin: 0px;
      background-color: #f0f0f0;
      position: absolute; }
      #top #tabs > ul > li ul li.current {
        background-color: white; }
      #top #tabs > ul > li ul li:hover {
        background-color: #3d699b; }
        #top #tabs > ul > li ul li:hover > a {
          color: white; }
      #top #tabs > ul > li ul li {
        top: -1px;
        width: 128px;
        float: none;
        border: 1px solid #cccccc;
        position: relative; }
        #top #tabs > ul > li ul li ul {
          display: none;
          left: 100%;
          top: 0px; }
        #top #tabs > ul > li ul li:hover ul {
          display: block; }
        #top #tabs > ul > li ul li a {
          text-align: left; }
          #top #tabs > ul > li ul li a:hover {
            color: white; }
