.dialing.hidden{id: 'dialing-popup-' + key}
  .background
    .popup
      .padding
      .center-text
        %p.message{'data-original-message': option[:dial_message]}= option[:dial_message]
      .close
        %input.close-popup-button{:type => "button", :value => "Cancel"}
