.dialing.hidden{id: 'dialing-popup-' + key}
  .background
    .popup
      .main-area
        .padding
        .center-text
          %p.message{'data-original-message': option[:dial_message]}= option[:dial_message]
      %p.close.center
        %input.close-popup-button{:type => "button", :value => "Cancel"}
