- content_for :head_css do
  = stylesheet_link_tag "autocomplete", "contact_search"
- content_for :head_javascript do
  = javascript_include_tag "contact_search_autocomplete", "contact_search"

%h2 Contact Search

%fieldset
  %legend
  = text_field_tag :search_field
