fieldset.show_data
  background-color: #E2EBF0
  border: 1px solid #BCC6E1
  width: auto
  padding: 0.35em 0.625em 0.75em
  > p > span.key
    display: inline-block
    font-weight: bold
    margin-right: 5px
    text-align: right
    width: 442px
